<button class="btn btn-link btn-block" routerLink="data-manager">Data Manager</button>
<button class="btn btn-link btn-block" routerLink="graphics">See graphics</button>

<div class="d-flex justify-content-center">
  <div class="terminal mt-4" >
    <pre>Hi there, this is Yisus</pre>
    <pre>I love making code in javascript</pre>
    <pre>I like to know new technologies</pre>
    <pre>I love music</pre>
    <pre>I am perfectionist</pre>
    <pre>More than 4 years doing code</pre>
    <pre>2 years knowing javascript</pre>
    <pre>Everybody call me yisus</pre>
    <pre>I hope you like this code</pre>
    <pre>Thanks</pre>
  </div>
</div>

