<button class="btn btn-warning btn-block" routerLink="">Go Home</button>

<div class="mt-2 row">
  <div class="col-6">
    <button class="btn btn-success btn-block" (click)="importUsers()">
      <svg class="bi bi-cloud-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.887 5.2l-.964-.165A2.5 2.5 0 1 0 3.5 10H6v1H3.5a3.5 3.5 0 1 1 .59-6.95 5.002 5.002 0 1 1 9.804 1.98A2.501 2.501 0 0 1 13.5 11H10v-1h3.5a1.5 1.5 0 0 0 .237-2.981L12.7 6.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96z"/>
      <path fill-rule="evenodd" d="M5 12.5a.5.5 0 0 1 .707 0L8 14.793l2.293-2.293a.5.5 0 1 1 .707.707l-2.646 2.646a.5.5 0 0 1-.708 0L5 13.207a.5.5 0 0 1 0-.707z"/>
      <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 6z"/>
      </svg> Import Users</button>
  </div>
  <div class="col-6">
    <button class="btn btn-success btn-block" (click)="addUserClick()">
      <svg class="bi bi-calendar2-plus-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zm-2 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-1zm6.5 5a.5.5 0 0 0-1 0V10H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V11H10a.5.5 0 0 0 0-1H8.5V8.5z"/>
      </svg> Add User</button>
  </div>
</div>

<div class="mt-5 col-12">
  <h5 class="card-title text-center">List users</h5>
  <table class="table table-bordered">
    <thead class="text-center">
      <th>Login</th>
      <th>Type</th>
      <th>Admin</th>
      <th>Url</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="text-center">
        <td>{{user.login}}</td>
        <td>{{user.type}}</td>
        <td><input type="checkbox" [checked]="user.site_admin" disabled=true> </td>
        <td><a href="{{user.link}}" target="_blank">{{user.link}}</a></td>
        <td class="d-flex justify-content-between">
          <button type="button" class="btn btn-sm btn-info">Edit</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="users.length === 0">
        <td colspan="6"><span class="text-center">NOT MATCHING DATA</span></td>
      </tr>
    </tbody>
  </table>
</div>

<app-list-users-import #listUsers></app-list-users-import>
<app-add-user #addUser></app-add-user>
